@mixin flexSort($justifyContants, $alignItems) {
  display: flex;
  justify-content: $justifyContants;
  align-items: $alignItems;
}

@mixin marginAuto {
  margin: 0 auto;
}

//버튼으로 쓰여질 아이콘 초기설정
@mixin btnForIcon($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-color: transparent;
  width: $size;
  height: $size;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}

@mixin btnForUserIcon($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
