@import '/src/styles/common.scss';
@import '/src/pages/kimjinpyeong/responsiveJinpyeong.scss';
@include globalStyles;

.mainJinpyeong {
  .feeds {
    padding: 50px 10%;
  }
}

@include mobile {
  .mainJinpyeong {
    padding: 10px;
    .feeds {
      padding: 10px;
    }
  }
}
