@import '/src/styles/common.scss';
@import '/src/pages/kimjinpyeong/responsiveJinpyeong.scss';
@include globalStyles;

.main {
  .feeds {
    padding: 50px 10%;
  }
  .story {
    position: fixed;
    float: right;
    left: 60%;
    top: 15%;
  }

  .recommend {
    position: fixed;
    float: right;
    left: 60%;
    top: 50%;
  }
}

@include mobile {
  .main {
    padding: 10px;
    .feeds {
      padding: 10px;
    }
    .story {
      display: none;
    }

    .recommend {
      display: none;
    }
  }
}
