@import '/src/styles/common.scss';
@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';
@import '/src/pages/kimjinpyeong/responsiveJinpyeong.scss';

.feeds {
  padding: 20px 40px 0px 40px;

  .boxFeedContainer {
    width: 550px;

    .boxTop {
      @include flexSort(space-between, center);
      width: 550px;

      .boxTitleWrapper {
        @include flexSort(null, center);

        .btnTitleUserIcon {
          @include btnForUserIcon('../assets/kimjinpyeong/me.jpg', $xxlarge);
        }

        .txtTitleUserNickName {
          padding-left: 10px;
          font-weight: bold;
          float: left;
        }
      }

      .boxTitleMoreWrapper {
        float: right;
        .btnTitleMoreIcon {
          @include btnForIcon($large);
        }
      }
    }

    .boxMain {
      .imgFeed {
        width: 100%;
        display: block;
        padding: 20px 0px;
      }

      .boxMainIconWrapper {
        .boxPostsRelatedIcons {
          background-color: antiquewhite;
          float: left;
          position: relative;

          .btnHeartIcon {
            position: absolute;
            @include btnForBackgroundIcon(
              '../assets/kimjinpyeong/emptyHeart.png',
              $large
            );
            width: $large;
          }

          .btnFillHeartIcon {
            position: absolute;
            @include btnForIcon($large);
            width: $large;
          }

          .btnChatIcon {
            position: absolute;
            @include btnForIcon($large);
            width: $large;
            left: 30px;
          }

          .btnShareIcon {
            position: absolute;
            @include btnForIcon($large);
            width: $large;
            left: 60px;
          }
        }
        .boxBookmark {
          background-color: bisque;
          float: right;
          position: relative;

          .btnBookmarkIcon {
            position: absolute;
            @include btnForIcon($large);
            width: $large;
            right: 5px;
          }
        }
      }
    }
    .boxReply {
      margin-top: 50px;

      .boxHowManyGood {
        @include flexSort(null, center);
        padding-bottom: 20px;

        .btnMainUserIcon {
          @include btnForUserIcon('../assets/kimjinpyeong/me.jpg', $large);
        }

        .txtMainUserNickName {
          padding-left: 10px;
          font-weight: 600;
        }
      }

      .boxContents {
        padding-left: 5px;
        font-size: $middle;
      }

      .boxReplyWrapper {
        margin: 20px 0px;
        position: relative;

        .boxReplyArea {
          padding: 20px;

          .boxShowMore {
            height: 20px;
            .btnShowMore {
              float: right;
              @include btnStyleRemove;
              color: #c0c0c0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .reply {
          padding-top: 20px;
          display: none;

          &.true {
            display: block;
          }
        }

        .inputReply {
          border-top: none;
          border-right: none;
          border-left: none;
          padding: 10px;
          width: 100%;
        }

        .enterReply {
          @include btnStyleRemove;
          position: absolute;
          bottom: 10px;
          right: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@include mobile {
  .feeds {
    .boxFeedContainer {
      width: 300px;

      .boxTop {
        width: 280px;

        .boxTitleWrapper {
          .btnTitleUserIcon {
            @include btnForUserIcon('../assets/kimjinpyeong/me.jpg', $large);
          }
        }
        .txtTitleUserNickName {
          padding-left: 5px;
          font-size: $small;
        }
      }
    }

    .boxTop {
      width: 300px;
    }
  }
}
